*{
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  width: 100%;
  height: 52px;
  display: block;
  border-bottom: 1px solid #000
}

.inner-header {
  width: 98%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logo-container {
    height: 100%;
    display: table;
    float: left;
}

.logo-container h2{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo-container a{
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.github-container {
  height: 100%;
  display: table;
  float: right;
}

.github-container a {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logo-container a img {
  height: 40px;
  width: 40px
}

.github-container a img {
  height: 40px;
  width: 40px
}
table {
  width: 100%;
}

thead td {
  font-weight: bold;
}

tbody td {
  white-space: nowrap;
}

tbody tr:hover {
  background-color:  	rgb(235,235,235);
}

@media screen and (max-width: 500px) {
  body {

  }
}
